---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Statistik from '../components/Statistik.astro';
import About_Me from '../components/About_Me.astro';
import Portfolio from '../components/Portfolio.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Statistik />
    <About_Me />
    <Portfolio />
  </main>
  <Footer />
</Layout>
